body,
html {
    -webkit-text-stroke: 1px white;
    font-weight: 900;
    box-sizing: border-box;
    color: rgb(9, 71, 71);
    font-family: fantasy;
    font-size: 18px;
    height: 100%;
}


.bg {
    background-image: url("border.jpg");
    height: 100%;
    background-color: darkgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Top line */
.charmeta {
    display: inline-flex;
    align-content: space-around;
    width: 100%;
    margin-left: 20px;
}

.charmetaleft {
    padding: 1em;
    flex-shrink: 1;
    flex-grow: 2;
}

.charmetamid {
    padding: 1em;
    flex-shrink: 1;
    flex-grow: 2;
}

.charmetaright {
    padding: 1em;
    flex-shrink: 2;
    flex-grow: 1;
}


.statsaveprof /* Second line - statcontainer, savebox, profblock */ {
    display: inline-flex;
    width: 100%;
    padding: 1em;
    margin: 0 20px;
}


.statcontainer /* stattitle, statbox, and statmodbox */ {
    font-size: 14px;    
    width: 50%;
    display: inline-flexbox;
}

.stattitle {
    width: 100%;   
}

.statbox {
    width: 50%;
    float: left;
}

.statmodbox {
    float: left;
    width: 50%;
}

.savebox /* savetitle, saves, and savemods */ {
    display: inline-flexbox;
    width: 25%;
    margin: 0 1em 0 1em;
}

.savetitle {
    width: 100%;
}

.saves {
    float: left;
    height: 200px;
    width: 60%;
}

.savemods {
    float: left;
    height: 200px;
    width: 40%;
}

.profblock /* proftitle, proficiencies, and proficiencyscore */ {
    float: left;
    width: 25%;
    display: inline-flexbox;
    
}

.proftitle {
    width: 100%;
}

.proficiencies {
    float: left;
    width: 60%
}

.proficiencyscore {
    width: 40%;
    float: left;
}


.headerlabel {
    color: rgb(5, 63, 5);
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline overline lawngreen;
}

.numericvalues{
    font-family: Monofett, Impact;
    color: black;
    font-size: 22px;
}

.values{
    font-family: Impact;
    color: black;
    font-size: 16px;
}

#hitpoints{
    font-family: Impact;
    color: black;
    font-size: 26px;
}

