body,
html {
    -webkit-text-stroke: 1px white;
    height: 100%;
    font-weight: 900;
}

.bg {
    background-image: url("border.jpg");
    height: 100%;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

charmeta {
    color: rgb(9, 71, 71);
    font-family: fantasy;
    font-size: 16px;
    margin: auto;
    height: 105px;
}

charmetaleft {
    width: 49%;
    float: left;
    height: 100px;
}

charmetaright {
    width: 49%;
    float: right;
    height: 100px;
}


statsave {
    float: left;
    width: 50%;
}


statcontainer {
    font-family: fantasy;
    font-size: 14px;
    margin: auto;
    padding: 1px;
    width: 70%;
}

statbox {
    height: 140px;
    margin-right: 2;
    width: 70%;
    float: left;

}

statmodbox {
    float: left;
    height: 140px;
    width: 28%;
}

proficiencies {
    padding-left: 2px;
    float: right;
    height: 365px;
    width: 45%;
    clear: inline-end;
}

saves {
    display: inline-block;
    height: 200px;
    width: 98%;
}

.headerlabel {
    font-family: fantasy;
    color: rgb(5, 63, 5);
    font-size: 18px;
    font-weight: 900;
    text-decoration: underline overline;
}

.numericvalues{
    font-family: Monofett, Impact;
    color: black;
    font-size: 20px;
}

.values{
    font-family: Impact;
    color: black;
    font-size: 16px;
}



